/* *{margin: 0;} */
body{
    font-family: 'Open Sans', sans-serif;
}

/* Navbar Styling */

.primary-color{
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1.15rem 2.25rem;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.19rem 14rem;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 3.91rem;
}

nav a {
    text-decoration: none;
    color: #181818;
}

/* Header Section  */

.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 2.37rem 2.37rem 0rem 9rem;
    display: flex;
    align-items: center;
}

.profile-pic{
    width: 36.5rem;
    height: 42.25rem;
}

.title-greeting{
    font-size: 2.8125rem;
    font-weight: 600;
    margin: 0;
   
}
.title-name{
    font-size: 5.3125rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1.25rem;
}
.title-para{
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1.87rem;
}

/* Main Section  */

main{
    max-width: 71.25rem;
    margin: 0 auto;
}

main section {
    margin-top: 9rem;
}
/* About Section  */

.about{
    margin: 8rem 0;
    background-color: #FFF8F3;
    padding: 8rem;
    border-radius: 0.625rem;
    /* width: 71.25rem;
    height: 34.375rem; */
    
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 2.1875rem;
    font-weight: 700;
}
.section-para{
    color: #757575;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    padding: 1.88rem 1.88rem;

}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}
.info-title{
    color: #757575;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}
.info-descripton{
    color: #474747;
    font-size: 1.25rem;
    font-weight: 700;
}

.about-to-para{
    padding: 2rem 10rem;
}


.skill{
    padding: 2rem;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-container{
    display: flex;
    gap: 1.5rem;
}
.skill-img{
    width: 2.75rem;
    height: 2.75rem;
}
.skill-title{
    color: #181818;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 1.88rem;
    margin-bottom: 1.25rem;
}
.skill-para{
    color: #757575;
    font-size: 1rem;
    font-weight: 400;
}

/* Resume Section  */

.resume-title{
    color: #474747;
    font-size: 1.875rem;
    font-weight: 700;
    margin-top: 7rem;
}
.resume-container{
    display: flex;
    gap: 5rem;
}

.resume-item-institute{
    color: #757575;
    font-size: 1.25rem;
    font-weight: 600;
}
.resume-item-para{
    color: #757575;
    font-weight: 400;
}

.btn-cv{
    margin-top: 3.12rem;
    text-align: center;
}

/* Footer Section  */

footer{
    background: #FFF8F3;
    display: flex;
    gap: 7rem;
    padding: 8rem 14.38rem;
    margin-top: 7rem;
}

.footer-column{
    width: 50%;
}
.footer-para{
    color: #474747;
    font-size: 1rem;
    font-weight: 400;
}

.social-link a{
    margin-right: 1.5rem;
}
.contact input, textarea{
    display: block;
    margin-bottom: 1.5rem;
    padding: 1.1rem 1.8rem;
    color: #757575;
    border-radius: 0.3125rem;
    background: #FFF;  
    border: none;
    width: 28.8125rem;
}
input[type="text"], input[type="email"]{
    margin-bottom: 1.5rem;
    display: block;
    padding: 1.1rem 1.8rem;
    color: #757575;
    border-radius: 0.3125rem;
    background: #FFF;
    border: none;
    width: 28.8125rem;
}